

<div class="container">
<!-- Form Name -->

<legend><center><h2><b>Sign Up</b></h2></center></legend><br>

 <%= form_for @user, html: {class: "form-horizontal"} do |f| %>

      <!--name-->
      <div class="form-group">
        <%= f.label :name, "Name", class: "col-md-4 control-label" %>
        <div class="col-md-6">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter user name" %>
        </div>
      </div>

      <!--email-->
      <div class="form-group">
        <%= f.label :email, "Email", class: "col-md-4 control-label" %>
        <div class="col-md-6">
          <%= f.text_field :email, class: "form-control", placeholder: "Enter email" %>
        </div>
      </div>
       
      <!--password-->  
      <div class="form-group">
        <%= f.label :password, "Password", class: "col-md-4 control-label" %>
        <div class="col-md-6">
          <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation", class: "col-md-4 control-label" %>
        <div class="col-md-6">
          <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password confirmation" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="col-lg-offset-4">
          <div class="col-md-4">
          <%= f.submit "Register", class: "btn btn-warning" %>
        </div>
      </div>
    <% end %>
  </div>
</div>