<!DOCTYPE html>
<html>
  <head>
    <title>Webapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		function hide_show() {
			var e = document.getElementById("topNavBar");
			if(e.style.display == 'block')
				e.style.display = 'none';
			else
				e.style.display = 'block';
		}
	</script>
  </head>

  <body>

  	<div class="container-fluid">
  		<nav class="navbar navbar-inverse" id="topNavBar"></style>
  			<div class="navbar-header">
     			 <a class="navbar-brand" href="/home"><b>My Messenger</b></a>
   			</div>
  			<nav class="nav navbar-nav navbar-right" style="margin-right: 5px;">
  				<li></li>
  				<li><a href="/messages"> Messages </a></li>	
  				<li><a href="/friends"> Friends </a></li>
  				<li><a href="/profile"> Profile </a></li>

				
				<% if logged_in? %>
     				<li><%= link_to "Logout", logout_path, method: :delete %></li>
     			<% else %>
     				<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     				<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     			<%end%>
  			</nav>
  			
  		</nav>
  		<button type="button" class="btn btn-primary btn-md" id="hideBt" onclick="hide_show()"> show </button>
			  <div class="col-sm-9">
			  	<%= yield %>
			  </div>
	</div>

		<section class="content" style="min-height: auto;">
		    <% flash.each do |key, value| %>
		        <div class="row">
		          <div class="alert alert-<%= key %>">
		            <%= value %>
		          </div>
		        </div>
		    <% end %>
	    </section>

	    <footer class="container-fluid" id="footer">
  			<p>Lab2-1412439-1412529</p>
		</footer>
		


  </body>
</html>

<style>
	#topNavBar {

	}

	@media only screen and (max-width: 992px) {
		#topNavBar {
			display: none;
		}
	}

	@media only screen and (min-width: 992px){
		#hideBt {
			display: none;
		}
	}
	#footer{
		background-color: #222222;
		color: white;
		text-align: center;
		margin-top: 400px;
		height: 90px;

	}
</style>